
homework4/logs/train/events.out.tfevents.1698631455.SandyWord.local.15747.0
homework4/logs/train/events.out.tfevents.1698631522.SandyWord.local.15811.0
homework4/logs/train/events.out.tfevents.1698631533.SandyWord.local.15837.0
homework4/logs/train/events.out.tfevents.1698631572.SandyWord.local.15857.0
homework4/logs/train/events.out.tfevents.1698631722.SandyWord.local.15900.0
homework4/logs/train/events.out.tfevents.1698631823.SandyWord.local.15944.0
homework4/logs/train/events.out.tfevents.1698631958.SandyWord.local.15983.0
homework4/logs/valid/events.out.tfevents.1698631455.SandyWord.local.15747.1
homework4/logs/valid/events.out.tfevents.1698631522.SandyWord.local.15811.1
homework4/logs/valid/events.out.tfevents.1698631533.SandyWord.local.15837.1
homework4/logs/valid/events.out.tfevents.1698631572.SandyWord.local.15857.1
homework4/logs/valid/events.out.tfevents.1698631722.SandyWord.local.15900.1
homework4/logs/valid/events.out.tfevents.1698631824.SandyWord.local.15944.1
homework4/logs/valid/events.out.tfevents.1698631958.SandyWord.local.15983.1
homework4/homework/det.th
homework4/homework/__pycache__/train.cpython-311.pyc
